body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #B387EB; /* Sanity Check! */
  background-color: #D1A3FF;
}

h1 {
	font-size: 75px;
  font-weight: bold;
  margin: 100px 0 40px 0;
  text-align: center;
}

