body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
	font-size: 75px;
	font-weight: bold;
  margin-top: 100px;
  text-align: center;
}

p {
	margin: 50px 0 30px 0;
}
